<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nines.nutsfact.infrastructure.mapper.FoodSemiFinishedProductMapper">

    <!-- 基本栄養成分のResultMap -->
    <resultMap id="nutritionBasicResult" type="com.nines.nutsfact.domain.model.nutrition.NutritionBasic">
        <result property="refuse" column="refuse"/>
        <result property="refuseFlag" column="refuse_flag"/>
        <result property="enerc" column="enerc"/>
        <result property="enercFlag" column="enerc_flag"/>
        <result property="enercKcal" column="enerc_kcal"/>
        <result property="enercKcalFlag" column="enerc_kcal_flag"/>
        <result property="water" column="water"/>
        <result property="waterFlag" column="water_flag"/>
        <result property="prot" column="prot"/>
        <result property="protFlag" column="prot_flag"/>
        <result property="protcaa" column="protcaa"/>
        <result property="protcaaFlag" column="protcaa_flag"/>
        <result property="fat" column="fat"/>
        <result property="fatFlag" column="fat_flag"/>
        <result property="fatnlea" column="fatnlea"/>
        <result property="fatnleaFlag" column="fatnlea_flag"/>
        <result property="chole" column="chole"/>
        <result property="choleFlag" column="chole_flag"/>
        <result property="chocdf" column="chocdf"/>
        <result property="chocdfFlag" column="chocdf_flag"/>
        <result property="choavlm" column="choavlm"/>
        <result property="choavlmFlag" column="choavlm_flag"/>
        <result property="choavlmMark" column="choavlm_mark"/>
        <result property="choavl" column="choavl"/>
        <result property="choavlFlag" column="choavl_flag"/>
        <result property="choavldf" column="choavldf"/>
        <result property="choavldfFlag" column="choavldf_flag"/>
        <result property="choavldfMark" column="choavldf_mark"/>
        <result property="fib" column="fib"/>
        <result property="fibFlag" column="fib_flag"/>
        <result property="polyl" column="polyl"/>
        <result property="polylFlag" column="polyl_flag"/>
        <result property="oa" column="oa"/>
        <result property="oaFlag" column="oa_flag"/>
        <result property="ash" column="ash"/>
        <result property="ashFlag" column="ash_flag"/>
        <result property="alc" column="alc"/>
        <result property="alcFlag" column="alc_flag"/>
        <result property="naclEq" column="nacl_eq"/>
        <result property="naclEqFlag" column="nacl_eq_flag"/>
    </resultMap>

    <!-- ミネラルのResultMap -->
    <resultMap id="nutritionMineralsResult" type="com.nines.nutsfact.domain.model.nutrition.NutritionMinerals">
        <result property="na" column="na"/>
        <result property="naFlag" column="na_flag"/>
        <result property="k" column="k"/>
        <result property="kFlag" column="k_flag"/>
        <result property="ca" column="ca"/>
        <result property="caFlag" column="ca_flag"/>
        <result property="mg" column="mg_val"/>
        <result property="mgFlag" column="mg_flag"/>
        <result property="p" column="p"/>
        <result property="pFlag" column="p_flag"/>
        <result property="fe" column="fe"/>
        <result property="feFlag" column="fe_flag"/>
        <result property="zn" column="zn"/>
        <result property="znFlag" column="zn_flag"/>
        <result property="cu" column="cu"/>
        <result property="cuFlag" column="cu_flag"/>
        <result property="mn" column="mn"/>
        <result property="mnFlag" column="mn_flag"/>
        <result property="idd" column="idd"/>
        <result property="iddFlag" column="idd_flag"/>
        <result property="se" column="se"/>
        <result property="seFlag" column="se_flag"/>
        <result property="cr" column="cr"/>
        <result property="crFlag" column="cr_flag"/>
        <result property="mo" column="mo"/>
        <result property="moFlag" column="mo_flag"/>
    </resultMap>

    <!-- ビタミンのResultMap -->
    <resultMap id="nutritionVitaminsResult" type="com.nines.nutsfact.domain.model.nutrition.NutritionVitamins">
        <result property="ret" column="ret"/>
        <result property="retFlag" column="ret_flag"/>
        <result property="carta" column="carta"/>
        <result property="cartaFlag" column="carta_flag"/>
        <result property="cartb" column="cartb"/>
        <result property="cartbFlag" column="cartb_flag"/>
        <result property="crypxb" column="crypxb"/>
        <result property="crypxbFlag" column="crypxb_flag"/>
        <result property="cartbeq" column="cartbeq"/>
        <result property="cartbeqFlag" column="cartbeq_flag"/>
        <result property="vitaRae" column="vita_rae"/>
        <result property="vitaRaeFlag" column="vita_rae_flag"/>
        <result property="vitd" column="vitd"/>
        <result property="vitdFlag" column="vitd_flag"/>
        <result property="tocpha" column="tocpha"/>
        <result property="tocphaFlag" column="tocpha_flag"/>
        <result property="tocphb" column="tocphb"/>
        <result property="tocphbFlag" column="tocphb_flag"/>
        <result property="tocphg" column="tocphg"/>
        <result property="tocphgFlag" column="tocphg_flag"/>
        <result property="tocphd" column="tocphd"/>
        <result property="tocphdFlag" column="tocphd_flag"/>
        <result property="vitk" column="vitk"/>
        <result property="vitkFlag" column="vitk_flag"/>
        <result property="thia" column="thia"/>
        <result property="thiaFlag" column="thia_flag"/>
        <result property="ribf" column="ribf"/>
        <result property="ribfFlag" column="ribf_flag"/>
        <result property="nia" column="nia"/>
        <result property="niaFlag" column="nia_flag"/>
        <result property="niac" column="niac"/>
        <result property="niacFlag" column="niac_flag"/>
        <result property="vitb6a" column="vitb6a"/>
        <result property="vitb6aFlag" column="vitb6a_flag"/>
        <result property="vitb12" column="vitb12"/>
        <result property="vitb12Flag" column="vitb12_flag"/>
        <result property="fol" column="fol"/>
        <result property="folFlag" column="fol_flag"/>
        <result property="pantac" column="pantac"/>
        <result property="pantacFlag" column="pantac_flag"/>
        <result property="biot" column="biot"/>
        <result property="biotFlag" column="biot_flag"/>
        <result property="vitc" column="vitc"/>
        <result property="vitcFlag" column="vitc_flag"/>
    </resultMap>

    <!-- 半完成品のResultMap -->
    <resultMap id="foodSemiFinishedProductResult" type="com.nines.nutsfact.domain.model.FoodSemiFinishedProduct">
        <id property="semiId" column="semi_id"/>
        <result property="businessAccountId" column="business_account_id"/>
        <result property="semiNo" column="semi_no"/>
        <result property="semiName" column="semi_name"/>
        <result property="displayName" column="display_name"/>
        <result property="classCategoryId" column="class_category_id"/>
        <result property="capacity" column="capacity"/>
        <result property="unit" column="unit"/>
        <result property="weightInputMode" column="weight_input_mode"/>
        <result property="infUnit" column="inf_unit"/>
        <result property="infVolume" column="inf_volume"/>
        <result property="infDisplay" column="inf_display"/>
        <result property="infEnergy" column="inf_energy"/>
        <result property="infProtein" column="inf_protein"/>
        <result property="infFat" column="inf_fat"/>
        <result property="infCarbo" column="inf_carbo"/>
        <result property="infSugar" column="inf_sugar"/>
        <result property="infSodium" column="inf_sodium"/>
        <result property="infLmtKind" column="inf_lmt_kind"/>
        <result property="infLmtDateFlag" column="inf_lmt_date_flag"/>
        <result property="infLmtDate" column="inf_lmt_date"/>
        <result property="infLmtDays" column="inf_lmt_days"/>
        <result property="infStorageMethod" column="inf_storage_method"/>
        <result property="infContamiFlag" column="inf_contami_flag"/>
        <result property="infContamination" column="inf_contamination"/>
        <result property="allergenSummary" column="allergen_summary"/>
        <result property="additiveSummary" column="additive_summary_json"/>
        <result property="allergenDisplayMode" column="allergen_display_mode"/>
        <result property="nutritionDisplayMode" column="nutrition_display_mode"/>
        <result property="servingSize" column="serving_size"/>
        <result property="showSeller" column="show_seller"/>
        <result property="showManufacturer" column="show_manufacturer"/>
        <result property="weightSum" column="weight_sum"/>
        <result property="costPriceSum" column="cost_price_sum"/>
        <result property="detailCount" column="detail_count"/>
        <result property="placeOfOrigin" column="place_of_origin"/>
        <result property="purpose" column="purpose"/>
        <result property="isActive" column="is_active"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <association property="basicNutrition" resultMap="nutritionBasicResult"/>
        <association property="minerals" resultMap="nutritionMineralsResult"/>
        <association property="vitamins" resultMap="nutritionVitaminsResult"/>
    </resultMap>

    <sql id="selectColumns">
        semi_id, business_account_id, semi_no, semi_name, display_name, class_category_id,
        capacity, unit, weight_input_mode,
        inf_unit, inf_volume, inf_display,
        inf_energy, inf_protein, inf_fat, inf_carbo, inf_sugar, inf_sodium,
        inf_lmt_kind, inf_lmt_date_flag, inf_lmt_date, inf_lmt_days, inf_storage_method,
        inf_contami_flag, inf_contamination, allergen_summary,
        additive_summary_json, allergen_display_mode, nutrition_display_mode, serving_size,
        show_seller, show_manufacturer,
        weight_sum, cost_price_sum, detail_count, place_of_origin, purpose, is_active,
        create_date, update_date,
        refuse, refuse_flag, enerc, enerc_flag, enerc_kcal, enerc_kcal_flag, water, water_flag,
        protcaa, protcaa_flag, prot, prot_flag, fatnlea, fatnlea_flag, chole, chole_flag, fat, fat_flag,
        choavlm, choavlm_flag, choavlm_mark, choavl, choavl_flag, choavldf, choavldf_flag, choavldf_mark,
        fib, fib_flag, polyl, polyl_flag, chocdf, chocdf_flag, oa, oa_flag, ash, ash_flag,
        na, na_flag, k, k_flag, ca, ca_flag, mg_val, mg_flag, p, p_flag, fe, fe_flag, zn, zn_flag,
        cu, cu_flag, mn, mn_flag, idd, idd_flag, se, se_flag, cr, cr_flag, mo, mo_flag,
        ret, ret_flag, carta, carta_flag, cartb, cartb_flag, crypxb, crypxb_flag, cartbeq, cartbeq_flag, vita_rae, vita_rae_flag,
        vitd, vitd_flag, tocpha, tocpha_flag, tocphb, tocphb_flag, tocphg, tocphg_flag, tocphd, tocphd_flag,
        vitk, vitk_flag, thia, thia_flag, ribf, ribf_flag, nia, nia_flag, niac, niac_flag,
        vitb6a, vitb6a_flag, vitb12, vitb12_flag, fol, fol_flag, pantac, pantac_flag, biot, biot_flag,
        vitc, vitc_flag, alc, alc_flag, nacl_eq, nacl_eq_flag
    </sql>

    <select id="findAll" resultMap="foodSemiFinishedProductResult">
        SELECT <include refid="selectColumns"/>
        FROM FOOD_SEMI_FINISHED_PRODUCT
    </select>

    <select id="findByBusinessAccountId" resultMap="foodSemiFinishedProductResult">
        SELECT <include refid="selectColumns"/>
        FROM FOOD_SEMI_FINISHED_PRODUCT
        WHERE business_account_id = #{businessAccountId}
    </select>

    <select id="findSelectItems" resultType="com.nines.nutsfact.domain.model.SelectItem">
        SELECT semi_id as id, semi_name as name, semi_no as no, IFNULL(display_name, '') as description
        FROM FOOD_SEMI_FINISHED_PRODUCT
        <where>
            <if test="businessAccountId != null">
                business_account_id = #{businessAccountId}
            </if>
        </where>
    </select>

    <select id="findById" resultMap="foodSemiFinishedProductResult">
        SELECT <include refid="selectColumns"/>
        FROM FOOD_SEMI_FINISHED_PRODUCT
        WHERE semi_id = #{id}
    </select>

    <select id="findByIdAndBusinessAccountId" resultMap="foodSemiFinishedProductResult">
        SELECT <include refid="selectColumns"/>
        FROM FOOD_SEMI_FINISHED_PRODUCT
        WHERE semi_id = #{id}
        <if test="businessAccountId != null">
            AND business_account_id = #{businessAccountId}
        </if>
    </select>

    <select id="getLastInsertId" resultType="Integer">
        SELECT LAST_INSERT_ID()
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.semiId">
        INSERT INTO FOOD_SEMI_FINISHED_PRODUCT (
            business_account_id, semi_no, semi_name, display_name, class_category_id,
            capacity, unit, weight_input_mode,
            inf_unit, inf_volume, inf_display,
            inf_energy, inf_protein, inf_fat, inf_carbo, inf_sugar, inf_sodium,
            inf_lmt_kind, inf_lmt_date_flag, inf_lmt_date, inf_lmt_days, inf_storage_method,
            inf_contami_flag, inf_contamination, allergen_summary,
            additive_summary_json, allergen_display_mode, nutrition_display_mode, serving_size,
            show_seller, show_manufacturer,
            weight_sum, cost_price_sum, detail_count, place_of_origin, purpose, is_active,
            refuse, refuse_flag, enerc, enerc_flag, enerc_kcal, enerc_kcal_flag, water, water_flag,
            protcaa, protcaa_flag, prot, prot_flag, fatnlea, fatnlea_flag, chole, chole_flag, fat, fat_flag,
            choavlm, choavlm_flag, choavlm_mark, choavl, choavl_flag, choavldf, choavldf_flag, choavldf_mark,
            fib, fib_flag, polyl, polyl_flag, chocdf, chocdf_flag, oa, oa_flag, ash, ash_flag,
            na, na_flag, k, k_flag, ca, ca_flag, mg_val, mg_flag, p, p_flag, fe, fe_flag, zn, zn_flag,
            cu, cu_flag, mn, mn_flag, idd, idd_flag, se, se_flag, cr, cr_flag, mo, mo_flag,
            ret, ret_flag, carta, carta_flag, cartb, cartb_flag, crypxb, crypxb_flag, cartbeq, cartbeq_flag, vita_rae, vita_rae_flag,
            vitd, vitd_flag, tocpha, tocpha_flag, tocphb, tocphb_flag, tocphg, tocphg_flag, tocphd, tocphd_flag,
            vitk, vitk_flag, thia, thia_flag, ribf, ribf_flag, nia, nia_flag, niac, niac_flag,
            vitb6a, vitb6a_flag, vitb12, vitb12_flag, fol, fol_flag, pantac, pantac_flag, biot, biot_flag,
            vitc, vitc_flag, alc, alc_flag, nacl_eq, nacl_eq_flag
        ) VALUES (
            #{entity.businessAccountId}, #{entity.semiNo}, #{entity.semiName}, #{entity.displayName}, #{entity.classCategoryId},
            #{entity.capacity}, #{entity.unit}, #{entity.weightInputMode},
            #{entity.infUnit}, #{entity.infVolume}, #{entity.infDisplay},
            #{entity.infEnergy}, #{entity.infProtein}, #{entity.infFat}, #{entity.infCarbo}, #{entity.infSugar}, #{entity.infSodium},
            #{entity.infLmtKind}, #{entity.infLmtDateFlag}, #{entity.infLmtDate}, #{entity.infLmtDays}, #{entity.infStorageMethod},
            #{entity.infContamiFlag}, #{entity.infContamination}, #{entity.allergenSummary},
            #{entity.additiveSummary}, #{entity.allergenDisplayMode}, #{entity.nutritionDisplayMode}, #{entity.servingSize},
            #{entity.showSeller}, #{entity.showManufacturer},
            #{entity.weightSum}, #{entity.costPriceSum}, #{entity.detailCount},
            #{entity.placeOfOrigin}, #{entity.purpose}, #{entity.isActive},
            #{entity.basicNutrition.refuse}, #{entity.basicNutrition.refuseFlag},
            #{entity.basicNutrition.enerc}, #{entity.basicNutrition.enercFlag},
            #{entity.basicNutrition.enercKcal}, #{entity.basicNutrition.enercKcalFlag},
            #{entity.basicNutrition.water}, #{entity.basicNutrition.waterFlag},
            #{entity.basicNutrition.protcaa}, #{entity.basicNutrition.protcaaFlag},
            #{entity.basicNutrition.prot}, #{entity.basicNutrition.protFlag},
            #{entity.basicNutrition.fatnlea}, #{entity.basicNutrition.fatnleaFlag},
            #{entity.basicNutrition.chole}, #{entity.basicNutrition.choleFlag},
            #{entity.basicNutrition.fat}, #{entity.basicNutrition.fatFlag},
            #{entity.basicNutrition.choavlm}, #{entity.basicNutrition.choavlmFlag}, #{entity.basicNutrition.choavlmMark},
            #{entity.basicNutrition.choavl}, #{entity.basicNutrition.choavlFlag},
            #{entity.basicNutrition.choavldf}, #{entity.basicNutrition.choavldfFlag}, #{entity.basicNutrition.choavldfMark},
            #{entity.basicNutrition.fib}, #{entity.basicNutrition.fibFlag},
            #{entity.basicNutrition.polyl}, #{entity.basicNutrition.polylFlag},
            #{entity.basicNutrition.chocdf}, #{entity.basicNutrition.chocdfFlag},
            #{entity.basicNutrition.oa}, #{entity.basicNutrition.oaFlag},
            #{entity.basicNutrition.ash}, #{entity.basicNutrition.ashFlag},
            #{entity.minerals.na}, #{entity.minerals.naFlag},
            #{entity.minerals.k}, #{entity.minerals.kFlag},
            #{entity.minerals.ca}, #{entity.minerals.caFlag},
            #{entity.minerals.mg}, #{entity.minerals.mgFlag},
            #{entity.minerals.p}, #{entity.minerals.pFlag},
            #{entity.minerals.fe}, #{entity.minerals.feFlag},
            #{entity.minerals.zn}, #{entity.minerals.znFlag},
            #{entity.minerals.cu}, #{entity.minerals.cuFlag},
            #{entity.minerals.mn}, #{entity.minerals.mnFlag},
            #{entity.minerals.idd}, #{entity.minerals.iddFlag},
            #{entity.minerals.se}, #{entity.minerals.seFlag},
            #{entity.minerals.cr}, #{entity.minerals.crFlag},
            #{entity.minerals.mo}, #{entity.minerals.moFlag},
            #{entity.vitamins.ret}, #{entity.vitamins.retFlag},
            #{entity.vitamins.carta}, #{entity.vitamins.cartaFlag},
            #{entity.vitamins.cartb}, #{entity.vitamins.cartbFlag},
            #{entity.vitamins.crypxb}, #{entity.vitamins.crypxbFlag},
            #{entity.vitamins.cartbeq}, #{entity.vitamins.cartbeqFlag},
            #{entity.vitamins.vitaRae}, #{entity.vitamins.vitaRaeFlag},
            #{entity.vitamins.vitd}, #{entity.vitamins.vitdFlag},
            #{entity.vitamins.tocpha}, #{entity.vitamins.tocphaFlag},
            #{entity.vitamins.tocphb}, #{entity.vitamins.tocphbFlag},
            #{entity.vitamins.tocphg}, #{entity.vitamins.tocphgFlag},
            #{entity.vitamins.tocphd}, #{entity.vitamins.tocphdFlag},
            #{entity.vitamins.vitk}, #{entity.vitamins.vitkFlag},
            #{entity.vitamins.thia}, #{entity.vitamins.thiaFlag},
            #{entity.vitamins.ribf}, #{entity.vitamins.ribfFlag},
            #{entity.vitamins.nia}, #{entity.vitamins.niaFlag},
            #{entity.vitamins.niac}, #{entity.vitamins.niacFlag},
            #{entity.vitamins.vitb6a}, #{entity.vitamins.vitb6aFlag},
            #{entity.vitamins.vitb12}, #{entity.vitamins.vitb12Flag},
            #{entity.vitamins.fol}, #{entity.vitamins.folFlag},
            #{entity.vitamins.pantac}, #{entity.vitamins.pantacFlag},
            #{entity.vitamins.biot}, #{entity.vitamins.biotFlag},
            #{entity.vitamins.vitc}, #{entity.vitamins.vitcFlag},
            #{entity.basicNutrition.alc}, #{entity.basicNutrition.alcFlag},
            #{entity.basicNutrition.naclEq}, #{entity.basicNutrition.naclEqFlag}
        )
    </insert>

    <update id="update">
        UPDATE FOOD_SEMI_FINISHED_PRODUCT SET
            semi_no = #{entity.semiNo},
            semi_name = #{entity.semiName},
            display_name = #{entity.displayName},
            class_category_id = #{entity.classCategoryId},
            capacity = #{entity.capacity},
            unit = #{entity.unit},
            weight_input_mode = #{entity.weightInputMode},
            inf_unit = #{entity.infUnit},
            inf_volume = #{entity.infVolume},
            inf_display = #{entity.infDisplay},
            inf_energy = #{entity.infEnergy},
            inf_protein = #{entity.infProtein},
            inf_fat = #{entity.infFat},
            inf_carbo = #{entity.infCarbo},
            inf_sugar = #{entity.infSugar},
            inf_sodium = #{entity.infSodium},
            inf_lmt_kind = #{entity.infLmtKind},
            inf_lmt_date_flag = #{entity.infLmtDateFlag},
            inf_lmt_date = #{entity.infLmtDate},
            inf_lmt_days = #{entity.infLmtDays},
            inf_storage_method = #{entity.infStorageMethod},
            inf_contami_flag = #{entity.infContamiFlag},
            inf_contamination = #{entity.infContamination},
            allergen_summary = #{entity.allergenSummary},
            additive_summary_json = #{entity.additiveSummary},
            allergen_display_mode = #{entity.allergenDisplayMode},
            nutrition_display_mode = #{entity.nutritionDisplayMode},
            serving_size = #{entity.servingSize},
            show_seller = #{entity.showSeller},
            show_manufacturer = #{entity.showManufacturer},
            weight_sum = #{entity.weightSum},
            cost_price_sum = #{entity.costPriceSum},
            detail_count = #{entity.detailCount},
            place_of_origin = #{entity.placeOfOrigin},
            purpose = #{entity.purpose},
            is_active = #{entity.isActive},
            refuse = #{entity.basicNutrition.refuse},
            refuse_flag = #{entity.basicNutrition.refuseFlag},
            enerc = #{entity.basicNutrition.enerc},
            enerc_flag = #{entity.basicNutrition.enercFlag},
            enerc_kcal = #{entity.basicNutrition.enercKcal},
            enerc_kcal_flag = #{entity.basicNutrition.enercKcalFlag},
            water = #{entity.basicNutrition.water},
            water_flag = #{entity.basicNutrition.waterFlag},
            protcaa = #{entity.basicNutrition.protcaa},
            protcaa_flag = #{entity.basicNutrition.protcaaFlag},
            prot = #{entity.basicNutrition.prot},
            prot_flag = #{entity.basicNutrition.protFlag},
            fatnlea = #{entity.basicNutrition.fatnlea},
            fatnlea_flag = #{entity.basicNutrition.fatnleaFlag},
            chole = #{entity.basicNutrition.chole},
            chole_flag = #{entity.basicNutrition.choleFlag},
            fat = #{entity.basicNutrition.fat},
            fat_flag = #{entity.basicNutrition.fatFlag},
            choavlm = #{entity.basicNutrition.choavlm},
            choavlm_flag = #{entity.basicNutrition.choavlmFlag},
            choavlm_mark = #{entity.basicNutrition.choavlmMark},
            choavl = #{entity.basicNutrition.choavl},
            choavl_flag = #{entity.basicNutrition.choavlFlag},
            choavldf = #{entity.basicNutrition.choavldf},
            choavldf_flag = #{entity.basicNutrition.choavldfFlag},
            choavldf_mark = #{entity.basicNutrition.choavldfMark},
            fib = #{entity.basicNutrition.fib},
            fib_flag = #{entity.basicNutrition.fibFlag},
            polyl = #{entity.basicNutrition.polyl},
            polyl_flag = #{entity.basicNutrition.polylFlag},
            chocdf = #{entity.basicNutrition.chocdf},
            chocdf_flag = #{entity.basicNutrition.chocdfFlag},
            oa = #{entity.basicNutrition.oa},
            oa_flag = #{entity.basicNutrition.oaFlag},
            ash = #{entity.basicNutrition.ash},
            ash_flag = #{entity.basicNutrition.ashFlag},
            na = #{entity.minerals.na},
            na_flag = #{entity.minerals.naFlag},
            k = #{entity.minerals.k},
            k_flag = #{entity.minerals.kFlag},
            ca = #{entity.minerals.ca},
            ca_flag = #{entity.minerals.caFlag},
            mg_val = #{entity.minerals.mg},
            mg_flag = #{entity.minerals.mgFlag},
            p = #{entity.minerals.p},
            p_flag = #{entity.minerals.pFlag},
            fe = #{entity.minerals.fe},
            fe_flag = #{entity.minerals.feFlag},
            zn = #{entity.minerals.zn},
            zn_flag = #{entity.minerals.znFlag},
            cu = #{entity.minerals.cu},
            cu_flag = #{entity.minerals.cuFlag},
            mn = #{entity.minerals.mn},
            mn_flag = #{entity.minerals.mnFlag},
            idd = #{entity.minerals.idd},
            idd_flag = #{entity.minerals.iddFlag},
            se = #{entity.minerals.se},
            se_flag = #{entity.minerals.seFlag},
            cr = #{entity.minerals.cr},
            cr_flag = #{entity.minerals.crFlag},
            mo = #{entity.minerals.mo},
            mo_flag = #{entity.minerals.moFlag},
            ret = #{entity.vitamins.ret},
            ret_flag = #{entity.vitamins.retFlag},
            carta = #{entity.vitamins.carta},
            carta_flag = #{entity.vitamins.cartaFlag},
            cartb = #{entity.vitamins.cartb},
            cartb_flag = #{entity.vitamins.cartbFlag},
            crypxb = #{entity.vitamins.crypxb},
            crypxb_flag = #{entity.vitamins.crypxbFlag},
            cartbeq = #{entity.vitamins.cartbeq},
            cartbeq_flag = #{entity.vitamins.cartbeqFlag},
            vita_rae = #{entity.vitamins.vitaRae},
            vita_rae_flag = #{entity.vitamins.vitaRaeFlag},
            vitd = #{entity.vitamins.vitd},
            vitd_flag = #{entity.vitamins.vitdFlag},
            tocpha = #{entity.vitamins.tocpha},
            tocpha_flag = #{entity.vitamins.tocphaFlag},
            tocphb = #{entity.vitamins.tocphb},
            tocphb_flag = #{entity.vitamins.tocphbFlag},
            tocphg = #{entity.vitamins.tocphg},
            tocphg_flag = #{entity.vitamins.tocphgFlag},
            tocphd = #{entity.vitamins.tocphd},
            tocphd_flag = #{entity.vitamins.tocphdFlag},
            vitk = #{entity.vitamins.vitk},
            vitk_flag = #{entity.vitamins.vitkFlag},
            thia = #{entity.vitamins.thia},
            thia_flag = #{entity.vitamins.thiaFlag},
            ribf = #{entity.vitamins.ribf},
            ribf_flag = #{entity.vitamins.ribfFlag},
            nia = #{entity.vitamins.nia},
            nia_flag = #{entity.vitamins.niaFlag},
            niac = #{entity.vitamins.niac},
            niac_flag = #{entity.vitamins.niacFlag},
            vitb6a = #{entity.vitamins.vitb6a},
            vitb6a_flag = #{entity.vitamins.vitb6aFlag},
            vitb12 = #{entity.vitamins.vitb12},
            vitb12_flag = #{entity.vitamins.vitb12Flag},
            fol = #{entity.vitamins.fol},
            fol_flag = #{entity.vitamins.folFlag},
            pantac = #{entity.vitamins.pantac},
            pantac_flag = #{entity.vitamins.pantacFlag},
            biot = #{entity.vitamins.biot},
            biot_flag = #{entity.vitamins.biotFlag},
            vitc = #{entity.vitamins.vitc},
            vitc_flag = #{entity.vitamins.vitcFlag},
            alc = #{entity.basicNutrition.alc},
            alc_flag = #{entity.basicNutrition.alcFlag},
            nacl_eq = #{entity.basicNutrition.naclEq},
            nacl_eq_flag = #{entity.basicNutrition.naclEqFlag}
        WHERE semi_id = #{entity.semiId}
        <if test="entity.businessAccountId != null">
            AND business_account_id = #{entity.businessAccountId}
        </if>
    </update>

    <update id="updateAllergenSummary">
        UPDATE FOOD_SEMI_FINISHED_PRODUCT SET
            allergen_summary = #{allergenSummary}
        WHERE semi_id = #{id}
    </update>

    <update id="updateAdditiveSummary">
        UPDATE FOOD_SEMI_FINISHED_PRODUCT SET
            additive_summary_json = #{additiveSummary}
        WHERE semi_id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM FOOD_SEMI_FINISHED_PRODUCT WHERE semi_id = #{id}
    </delete>

    <delete id="deleteByIdAndBusinessAccountId">
        DELETE FROM FOOD_SEMI_FINISHED_PRODUCT
        WHERE semi_id = #{id}
        <if test="businessAccountId != null">
            AND business_account_id = #{businessAccountId}
        </if>
    </delete>
</mapper>
