<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nines.nutsfact.infrastructure.mapper.FoodRawMaterialSupplierMapper">

    <resultMap id="FoodRawMaterialSupplierResultMap" type="com.nines.nutsfact.domain.model.FoodRawMaterialSupplier">
        <id property="id" column="id"/>
        <result property="businessAccountId" column="business_account_id"/>
        <result property="foodId" column="food_id"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="volumeAmount" column="volume_amount"/>
        <result property="weightOrCapacity" column="weight_or_capacity"/>
        <result property="convertRatio" column="convert_ratio"/>
        <result property="pricePerUnit" column="price_per_unit"/>
        <result property="createDate" column="create_date"/>
        <result property="lastUpdateDate" column="last_update_date"/>
        <result property="isActive" column="is_active"/>
    </resultMap>

    <select id="findByFoodId" resultMap="FoodRawMaterialSupplierResultMap">
        SELECT id, business_account_id, food_id, supplier_id, supplier_name, purchase_price, volume_amount,
               weight_or_capacity, convert_ratio, price_per_unit, create_date, last_update_date, is_active
        FROM vfood_raw_material_supplier
        WHERE food_id = #{foodId}
        ORDER BY create_date DESC
    </select>

    <select id="findByFoodIdAndBusinessAccountId" resultMap="FoodRawMaterialSupplierResultMap">
        SELECT id, business_account_id, food_id, supplier_id, supplier_name, purchase_price, volume_amount,
               weight_or_capacity, convert_ratio, price_per_unit, create_date, last_update_date, is_active
        FROM vfood_raw_material_supplier
        WHERE food_id = #{foodId}
        <if test="businessAccountId != null">
            AND business_account_id = #{businessAccountId}
        </if>
        ORDER BY create_date DESC
    </select>

    <select id="findById" resultMap="FoodRawMaterialSupplierResultMap">
        SELECT id, business_account_id, food_id, supplier_id, supplier_name, purchase_price, volume_amount,
               weight_or_capacity, convert_ratio, price_per_unit, create_date, last_update_date, is_active
        FROM vfood_raw_material_supplier
        WHERE id = #{id}
    </select>

    <select id="findByIdAndBusinessAccountId" resultMap="FoodRawMaterialSupplierResultMap">
        SELECT id, business_account_id, food_id, supplier_id, supplier_name, purchase_price, volume_amount,
               weight_or_capacity, convert_ratio, price_per_unit, create_date, last_update_date, is_active
        FROM vfood_raw_material_supplier
        WHERE id = #{id}
        <if test="businessAccountId != null">
            AND business_account_id = #{businessAccountId}
        </if>
    </select>

    <select id="getLastInsertId" resultType="Integer">
        SELECT LAST_INSERT_ID()
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO FOOD_RAW_MATERIAL_SUPPLIER (business_account_id, food_id, supplier_id, purchase_price, volume_amount,
                                                  weight_or_capacity, convert_ratio, price_per_unit)
        VALUES (#{entity.businessAccountId}, #{entity.foodId}, #{entity.supplierId}, #{entity.purchasePrice}, #{entity.volumeAmount},
                #{entity.weightOrCapacity}, #{entity.convertRatio}, #{entity.pricePerUnit})
    </insert>

    <update id="update">
        UPDATE FOOD_RAW_MATERIAL_SUPPLIER
        SET supplier_id = #{entity.supplierId},
            purchase_price = #{entity.purchasePrice},
            volume_amount = #{entity.volumeAmount},
            weight_or_capacity = #{entity.weightOrCapacity},
            convert_ratio = #{entity.convertRatio},
            price_per_unit = #{entity.pricePerUnit}
        WHERE id = #{entity.id}
        <if test="entity.businessAccountId != null">
            AND business_account_id = #{entity.businessAccountId}
        </if>
    </update>

    <delete id="delete">
        DELETE FROM FOOD_RAW_MATERIAL_SUPPLIER WHERE id = #{id}
    </delete>

    <delete id="deleteByIdAndBusinessAccountId">
        DELETE FROM FOOD_RAW_MATERIAL_SUPPLIER
        WHERE id = #{id}
        <if test="businessAccountId != null">
            AND business_account_id = #{businessAccountId}
        </if>
    </delete>

</mapper>
